.state-pause {
  background-color: orange;
}

.state-doing {
  background-color: #019f01;
}

.state-finish {
  background-color: #9f0101;
}

html {
  background-image: url("/images/abstract.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.modal-overlay.active {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.dark {
  background-color: #1b1b1b;
}
