.state-pause {
  background-color: orange;
}

.state-doing {
  background-color: #019f01;
}

.state-finish {
  background-color: #9f0101;
}

.modal-overlay.active {
  background-color: rgba(0, 0, 0, 0.646) !important;
}

.dark {
  background-color: #202020;
}

.txt-dark {
  color: #202020;
}

.fab-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0%;
  background-color: rgba(0, 0, 0, 0);
}

.fab-overlay.active {
  height: 100%;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.884) !important;
}
