@import "node_modules/axentix/src/scss/axentix";

body{
    font-family: 'Quicksand', sans-serif;
}

.tab .tab-menu{
    --tab-active-color:#EA8527!important;
}

.form-material .form-field:not(.form-default) {
    --form-material-color: #EA8527!important;
}

.recap-infos{
    p{
        font-size: 1rem;
    }

    @include responsive("md-down"){
        p{
            font-size: 1rem;
        }
    }
}

.dark{
    background-color: rgb(27, 27, 27);
}

.dark-bg{
    background-color: rgb(233, 233, 233);
}

.orange-custom{
    color: #ff9027;
}

.role1{
    background-color: green;
    color:white !important;
}

.role2{
    background-color: rgb(255, 102, 0);
    color:white !important;
}

.role3{
    background-color: rgb(128, 0, 0);
    color:white !important;
}