@import "node_modules/axentix/src/scss/axentix";

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgb(241, 146, 22) 92%
    );
}

.tab .tab-menu {
    --tab-active-color: #ea8527 !important;
}

.form-material .form-field:not(.form-default) {
    --form-material-color: #ea8527 !important;
}

.recap-infos {
    @include responsive("md-down") {
        p {
            font-size: 1rem;
        }
    }
}

.dark {
    background-color: rgb(32, 32, 32);
}

.txt-dark {
    color: rgb(32, 32, 32);
}

.orange-custom {
    color: #ff9027;
}

.orange-dark-1 {
    background-color: #fe7b00;
}

.role1 {
    background-color: rgb(74, 146, 74);
    color: white !important;
}

.role2 {
    background-color: rgb(245, 139, 68);
    color: white !important;
}

.role3 {
    background-color: rgb(141, 37, 37);
    color: white !important;
}

.bd-dark {
    border-color: rgb(32, 32, 32);
}

.btn-tab-operation {
    @extend .btn,
        .mx-auto,
        .my-auto,
        .rounded-1,
        .txt-white,
        .shadow-1,
        .small,
        .orange-dark-1;
}

.btn-modal-comment {
    @extend .btn,
        .orange,
        .bg-btn-modal-comment,
        .rounded-2,
        .txt-white,
        .shadow-2,
        .small;
}

.bg-btn-modal-comment {
    background-color: #fe7b00 !important;
}

.pagination li.active {
    background-color: #e2e2e2 !important;
    color: rgb(32, 32, 32) !important;
}

.txt-gl4 {
    color: #f7f7f7 !important;
}
