.state-pause {
    background-color: orange;
}

.state-doing {
    background-color: rgb(1, 159, 1);
}

.state-finish {
    background-color: rgb(159, 1, 1);
}

body {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 171, 80, 1) 92%
    );
}

.modal-overlay.active {
    background-color: rgba(0, 0, 0, 0.646) !important;
}

.dark {
    background-color: rgb(32, 32, 32);
}

.txt-dark {
    color: rgb(32, 32, 32);
}
