.state-pause{
    background-color: orange;
}

.state-doing{
    background-color: rgb(1, 159, 1);
}

.state-finish{
    background-color: rgb(159, 1, 1);
}

html{
    background-image: url('/images/abstract.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.modal-overlay.active {
    background-color: rgb(0, 0, 0, 0.80)!important;
}

.dark{
    background-color: rgb(27, 27, 27);
}